[Resolve]
DNS=194.242.2.5#extended.dns.mullvad.net
DNS=2a07:e340::5#extended.dns.mullvad.net
FallbackDNS=194.242.2.3#adblock.dns.mullvad.net
FallbackDNS=2a07:e340::3#adblock.dns.mullvad.net
DNSOverTLS=yes